.picture{
	width: 400px;
	height: 1000px;
	background-color: orange;
	margin: auto;
}
.picture-center{
	display: block;
	margin: auto;
}
.btn-center{
	display:; block;
	margin: 0 32%;
}
.text-title{
	text-align: center;
}
.yellow-black-button{
	display: inline-block;
	margin-left: 28%;
	width: 180px;
	height: 60px;
  color: black;
  font-size: 125%;
  font-weight: 700;
  padding: .25em .5em;
  outline: none;
  border: 1px solid rgb(250,172,17);
  border-radius: 8px;
  background: rgb(255,212,3) linear-gradient(rgb(255,212,3), rgb(248,157,23));
}
.text-title{
	text-align: center;
}
.background-color{
	background-color: grey;
}
.yellow-black-button{
	display: inline-block;
	align-items: center;
	justify-content: center;
  color: black;
  font-size: 125%;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .25em .5em;
  outline: none;
  border: 1px solid rgb(250,172,17);
  border-radius: 7px;
  background: rgb(255,212,3) linear-gradient(rgb(255,212,3), rgb(248,157,23));
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
  transition: box-shadow .2s, border-color .2s;
}
.info-center{
	display: block;
	margin: 0 16%;
}
body{
	width: 100%;
}
